<launch>
    <node pkg="autonomous_navigation" type="vicon_tracker.py" name="vicon_tracker" output="screen" />
    <node pkg="autonomous_navigation" type="collision_detector.py" name="collision_detector" output="screen" />
    <node pkg="autonomous_navigation" type="nav2goal.py" name="nav2goal" output="screen" />
</launch>
