<launch>
    <node pkg="autonomous_navigation" type="vicon_tracker.py" name="vicon_tracker" output="screen" />
    <node pkg="autonomous_navigation" type="get_objects.py" name="get_objects" output="screen" />
    <node pkg="autonomous_navigation" type="create_map.py" name="create_map" output="screen" />
</launch>
